os: linux
dist: xenial

language: python
python:
- 3.6
- 3.7
- 3.8

install:
- pip install tox-travis
script:
- tox

stages:
- lint
- test
- deploy

jobs:
  allow_failures:
  - env: TOXENV=pylint
  include:
  - { stage: lint, python: 3.7, env: TOXENV=flake8 }
  - { stage: lint, python: 3.7, env: TOXENV=pylint }
  - { stage: lint, python: 3.7, env: TOXENV=bandit }
  - { stage: lint, python: 3.7, env: TOXENV=readme }
  - stage: deploy
    if: tag is present
    deploy:
      provider: pypi
      distributions: sdist bdist_wheel
      username: Bashar.said
      password:
        secure: YDP7tWG5w7rbajpnBsJCsvNDtoict7sMiosnwbw6FPoyY+rKfy0LeJeooaLUTmftWxOp3kVyJTSsVO8fCf6ML9eCEu/94FlbJchu32eaDsrlAUcEU8N6bxOhgFRep3d7ZAh7ozfkiuqBq5l+24eYcCf17zEraXfASa8rsaYtrJmjfIeen7wAs9QgfIdQPVm9iY6i1jwW/GHQMXBDyLv9q+KTCXTGNMgDOSCbetOcIUHAfp9/J/LYg6++t0W5nEimihQ5g3RAxfN7s/BVEi2wxDUrzJ6TnUshzfSRwN+RDRHjR/j9tw/CW8WMNcWU38Yc0P3KIYi6Fa9+jjI1tX1tc3ql2Jv9MSLKYJgRr9teJIo4pGp2z120BpCKGBtg/Pi8Cy1Y9DWvBGQHQl+MLWw9Aoj9xlgaDOeLAGdYEDdpRUT1J9BAwej8JDdcyFf5agvZPo2MVCnsTTXhiVAIetdv1YlZ8sEBOGTZvD+2z+gmQyj6c67BxkhxAIQGbG8wVtNsM6n7rH+fhmXOiKOFBvwc0Bk/sztWdiZGFKxKUi70YbiYxJalROSX8ec2wyCmF2WjYRo8Ri024jUIkGv+7982NH3iJAT9c8caAxBgAM2IMj6/h4cDgkY8oSY0q0Jr2VjweFRO/Di+1PmVX8RmfyVy1m+PjmVC9Qi9JYaQc8PA/Mk=
      on:
        tags: true
    install: skip
    script: skip
    python: 3.7
