[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pip-tools = "*"
bandit = "*"
flake8 = "*"
pylint = "*"
pytest = "*"
tox = "*"

[packages]
python-gitlab = "*"
click = "*"

[requires]
